## Email To-query@ineuron.ai
## CC -sunny@ineuron.ai,riishav@ineuron.ai
## Subject -[Bootcamp 2.0 | Assignment.1]

### Answer 1:
### Error 1. name 'Ten' is not defined
Python is a case sensitive programming language.So,we have to be very careful while creating variable name. 
if we have not defined a variable and are using with any of the inbulit function of python like print with that variable 
ignoring whether it is in upper case or lower case we will encounter this error.
Example : ten =10
          print(Ten) will throw us an error to correct output we have to write print(ten) because Ten and ten both are 
          different objects.

### Error 2 : str object is not collable
WE cannot use reserved keywords of python as a variable name.If we do this it will lose its power then it will be an object not act as a predefined function of python.
Example : print ="Hii Everyone" Its a variable print which has been assigned a string value.
Now if we try to use the print function of python to print something then it will throw us this error as this function has lost its power.

### Error 3 : Cannot  unpack non-iterable int object
This error will be encountered when we do not assign enough inputs for each variable
Example : a,b,c =10 .

### Error 4: invalid literal for int() with base 10 : '12.2'
Example : a =int(input("Enter value of a :")).
It willgive us an error as we are giving a float value as an input but we are typecasting in integer.It will not give error if we typecast input in float 
As input store value as string for that we need to correct typecasting.Otherwise it will give us this kind of error

### Error 5 : Missing paranthesis in call to print 
This error is encountered when we do not use parenthis brackets while using print function
Example : print "Good Evening"

### Error 6 : EOL while scanning string literal
Example : print("Good
                 evening ")
  this will give us syntax error as this line is not finished properly
### Error 7 : can only concatenate str (not int) to str
Example: "Day"+1 It cannot concatenate as 1 is integer data type.In this case we have to convert 1 into string datatype to get output.

### Error 8 : SyntaxError  : can't assign to operator
 We should avoid using special characters (!,@,#,$,%,^,&,*) in the variable name.As it will show us a syntax error.
 Never start variable with number or special character.

In [1]:
#Answer 2:
A =int(input("A :"))
B= int(input("B :"))
sum = A+B
mul = A*B
div = A/B
power=A**2
print("Sum of A and B is :", sum)
print("Multiplication of A and B is :", mul)
print("Division of A and B is :", div)
print("Square of A is:", power)

A :2
B :3
Sum of A and B is : 5
Multiplication of A and B is : 6
Division of A and B is : 0.6666666666666666
Square of A is: 4

##### Answer 3 :
#### There are 33 reserved keywords in python.This means no variable can have the same name as one of these rreserved keywords.
#### If you use any reserved keyword as a variable name.
#### For example : print =12 and then if you check type(print).It will store value of an integer type in object named print.
#### If you  later use this print as function to print something it will give error : 'int' object is not collable.As we have taken the power of print function which is a predefined function.So,we should avoid using reserved keyword as variable name.

In [2]:
#Answer 4.Creating email_idswith user inputs.
first_name = input("First_Name :")
last_name =input ("Last_name :")
print(f"Email_id :{last_name}.{first_name}@igmail.com")

First_Name :
Last_name :
Email_id :.@igmail.com

In [3]:
#Answer 5 :
name="Sunny"
address = "22/3"
daily_income= 20
print(f"""Hi I'm {name}
My address is {address}
I earn {daily_income}$ daily""")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily

In [12]:
#Answer 6 :

name = input("Name :")
address=input("Address :")
dob=(input("Date Of Birth :"))                            
print(f"Email_id of student :{name}@ineuron.com")

Name :vandana
Address :22/3
Date Of Birth :06-02-1992
Email_id of student :vandana@ineuron.com

In [5]:
#Answer 7 :In this case type converion is not alllowed as we are converting string which is in the form of float into integer type.
#It will allow conversion if it is to be converted in float
#Convert "22.4" into 22
x="22.4" # entering float
print(f"Data type before: {type(x)},value of x : {x}")
x=int(x) #trying to convert into integer rather than float which is the cause of error
print(f"Data type after :{type(x)}")

Data type before: <class 'str'>

ValueError: invalid literal for int() with base 10: '22.4'

In [ ]:
#It will be allowed in case of float
x="22.4"
print(f"Data type before: {type(x)}")
x=float(x)
print(f"Data type after :{type(x)}")

In [4]:
#Convert "22" into Complex number
x="22"
print(f"Data type before :{type(x)}")
x=complex(x)
print(f"Data type before :{type(x)}")

Data type before :<class 'str'>
Data type before :<class 'complex'>

TypeError: cannot unpack non-iterable int object